[submodule "lib/guillotine-mini"]
	path = lib/guillotine-mini
	url = https://github.com/evmts/guillotine-mini
[submodule "lib/guillotine"]
	path = lib/guillotine
	url = https://github.com/evmts/guillotine
